nav {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  /* margin-top: 30px; */
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  color: rgb(107, 107, 107);
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 0px 30px;
  font-size: 20px;
}

/* .main_nav ul li {
  margin: 0 50px;
  list-style: none;
  font-weight: 500;
  cursor: pointer;
} */
a:after {
  content: "";
  position: absolute;
  background-color: #DE840A;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: rgb(204, 142, 8);
  transition: 0.3s;
}